:root{

    --primary:#2563eb;
    --primary-hover:#1d4ed8;

    --background:#f4f7fb;
    --card:#ffffff;

    --text:#1e293b;
    --secondary:#64748b;

    --success:#22c55e;
    --danger:#ef4444;

    --border:#dbe3ec;

    --shadow:0 4px 12px rgba(0,0,0,.08);

    --radius:12px;

}